*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.parent{
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  height: 400px;
  margin: 10px;
}
.card img{
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #ccc;
  border-radius: 50%;
  object-fit: cover;
}